<template lang="pug">

    div( class="relative p-5 white_block" )
        text_field( label="Заголовок заметки" class="mb-6" v-model="note_header" )
        text_field( label="Текст заметки" type="textarea" class="mb-6" v-model="note_text" )
        div( class="flex" ) 
            button( class="btn primary ml-auto" @click="save_note()" ) Сохранить

</template>



<script>
import text_field from '@/components/input'

export default {

    name: 'add_note',

    components: {
        text_field,
    },

    data() {
        return {
            note_header: '',
            note_text: '',
        }
    },

    methods: {
        save_note() {
            this.$store.dispatch('ADD_NOTE', { title: this.note_header, text: this.note_text })
            this.$router.push('/')
        }
    },
    
}
</script>
