<template lang="pug">

    div( class="relative p-5 white_block" )
        text_field( label="Заголовок заметки" class="mb-6" v-model="note_header" )
        text_field( label="Текст заметки" type="textarea" class="mb-6" v-model="note_text" )
        div( class="flex" ) 
            button( class="btn primary ml-auto" @click="save_note()" ) Сохранить

</template>



<script>
import text_field from '@/components/input'

export default {

    name: 'edit_note',

    components: {
        text_field,
    },

    mounted () {
        let { title, text, time } = this.$store.getters.getNoteByTime(this.$route.params.time)
        this.note_header = title
        this.note_text = text
        this.note_time = time
    },

    data() {
        return {
            note_header: '',
            note_text: '',
        }
    },

    methods: {
        save_note() {
            this.$store.dispatch('EDIT_NOTE', { time: this.note_time,  title: this.note_header, text: this.note_text })
            this.$router.push('/note/' + this.note_time)
        }
    },
    
}
</script>
