<template lang="pug">

	div( class="flex relative <md:flex-col" )
		div( class="flex-1 mr-4 <md:mr-0" )

			div( class="" v-if="activeTasks.length > 0")
				note_preview(v-for='( task, index ) in activeTasks' :note='task' :key='index')

			div( class="" v-else)
				div( class="text-center" )  Пока заметок нет

		div( class="flex-1" )
			div( class="p-5 white_block" )
				div( class="text-dark-50 text-md " ) Активные задачи - <strong class="text-clr-dim-blue ">{{ activeTasksCount }}</strong>
				div( class="text-dark-50 text-md " ) Задачи в архиве- <strong class="text-clr-dim-blue ">{{ archiveTasksCount }}</strong>


</template>



<script>
import { mapGetters } from 'vuex';
import note_preview from '@/components/note_preview'

export default {

	name: "index",

	components: {
		note_preview,
	},

	computed: {
		...mapGetters({
			activeTasks: 'getActiveTasks',
			activeTasksCount: 'getActiveTasksCount',
			archiveTasksCount: 'getArchiveTasksCount',
		}),
	},
};
</script>
