<template lang="pug">

    div( v-if="check_list_length >= 10" class="flex items-center relative mb-1 h-[36px]" )
        input( type="text" :value="value" placeholder="Поиск" @input="$emit('input', $event.target.value)" class="absolute right-0 left-auto pl-2 pr-8 w-full h-[36px] text-base text-cool-gray-500 rounded-[3px] border-2 outline-none focus:border-clr-blue focus:border-2 transition-all duration-300" )
        div( class="absolute right-2 h-[24px] pointer-events-none" )
            Magnify( class="block h-[24px] text-cool-gray-500" )

</template>



<script>
import Magnify from 'vue-material-design-icons/Magnify.vue';

export default {

    name: 'check_list_filter',

    props: ['value', 'check_list'],
    
    components: {
        Magnify,
    },

    computed: {
        check_list_length() {
            return Object.keys(this.check_list).length 
        }
    },
    
}
</script>