<template lang="pug">

    router-link( class="relative block group no-underline mb-4 px-5 py-3 select-none cursor-pointer white_block" :to="'/note/' + note.time" )
        div( class="mb-2 text-xl text-cyan-600 break-all" v-html="note.title")
        div( class="text-sm text-cool-gray-500 break-all" v-if="note.text" v-html="get_short_text(note.text, 120)" )
        progress_bar( class="mt-2" :check_list="note.check_list" height="2" )
        div( class="mt-3 text-[13px] text-cool-gray-400" v-html="get_date(note.time)+' в '+get_time(note.time)" )
        
        div( class="absolute top-2 right-3 flex border-light-800 border-1 bg-clr-white rounded-md overflow-hidden" )

            div( class="flex justify-center items-center w-10 h-10 text-clr-dim-blue bg-clr-white hidden group-hover:flex hover:text-clr-red" v-on:click.stop.prevent="archive_task(note)" )
                Archive( class="h-[24px]" )

            router-link( class="flex justify-center items-center w-10 h-10 text-clr-dim-blue bg-clr-white hidden group-hover:flex hover:text-clr-red" :to="'/note/' + note.time + '/edit/'" )
                Pencil( class="h-[24px]" )

            div( class="flex justify-center items-center w-10 h-10 text-clr-dim-blue bg-clr-white hidden group-hover:flex hover:text-clr-red" v-on:click.stop.prevent="delete_note(note)" )
                Delete( class="h-[24px]" )

</template>



<script>
import Delete from 'vue-material-design-icons/Delete.vue';
import Pencil from 'vue-material-design-icons/Pencil.vue';
import Archive from 'vue-material-design-icons/ArchiveOutline.vue';
import progress_bar from '@/components/progress_bar'
import { dateConverter, timeConverter, shortText } from '@/utils.js'

export default {
    
    name: 'note_preview',

    props: ['note'],

    components: {
        Delete,
        Pencil,
        Archive,
        progress_bar,
    },

    methods: {
        get_date(time) {
            return dateConverter( time, 2 )
        },

        get_time(time) {
            return timeConverter( time )
        },

        get_short_text( text, length ) {
            return shortText( text, length )
        },

        archive_task(task) {
            this.$store.dispatch('OPEN_MODAL', {
                title: 'Добавить в архив заметку "' + task.title +'"?',
                component_name: 'confirm_form',
                data_for_component: {
                    payload: task.time,
                    action_name: 'ARCHIVE_TASK',
                }
            })
        },

        delete_note(note) {
            this.$store.dispatch('OPEN_MODAL', {
                title: 'Удалить заметку "' + note.title +'"?',
                component_name: 'confirm_form',
                data_for_component: {
                    payload: note.time,
                    action_name: 'DELETE_NOTE',
                }
            })
        },
    },

}
</script>