<template lang="pug">

	div( id="app" class="wrap py-3" )

		//- Main container
		div( class="m-auto px-3 max-w-300 " )

			//- Header
			div( class="flex items-center justify-between relative mb-4 px-5 py-3 white_block" )

				div( class="text-clr-red h-[24px] w-[24px] hidden <sm:block" @click="goBack()" )
					ArrowLeft( :size='24' class="cursor-pointer" v-if="!is_home" )
				
				router-link( to='/' class=" flex justify-center items-center font-600 text-lg text-clr-dim-blue text-center select-none no-underline uppercase" )
					checkIcon( :size='24' class="flex items-center mr-0.5 text-clr-red" )
					span Tasker

				router-link( class="flex items-center text-sm font-600 text-clr-dim-blue uppercase no-underline group" to='/add-note' )
					TaskPlus( :size='24' class="h-[24px] mr-0.5 group-hover:text-clr-red" )
					span( class="group-hover:text-clr-red <sm:hidden" ) Создать задачу
			
			router-view

		modal

</template>



<script>
import TaskPlus from 'vue-material-design-icons/PlaylistPlus.vue';
import checkIcon from 'vue-material-design-icons/CheckCircleOutline.vue';
import ArrowLeft from 'vue-material-design-icons/ArrowLeft.vue';

export default {

	components: {
		TaskPlus,
		checkIcon,
		ArrowLeft,
	},

	computed: {
		is_home() {
			return this.$route.path === '/'
		}
	},

	methods: {
		goBack() {
			window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
		}
	},
}
</script>